<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('任务')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="post-form">
                <div class="select-list">
                    <ul>
                        <li>
                            <label class="col-sm-3 control-label">紧急程度：</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="priority">
                                    <option></option>
                                    <option >普通</option>
                                    <option >紧急</option>
                                    <option >非常紧急</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label class="col-sm-3 control-label">是否完成：</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="exstatus">
                                    <option></option>
                                    <option >已完成</option>
                                    <option >进行中</option>
                                    <option >未开始</option>
                                </select>
                            </div>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:task:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:task:edit')}]];
    var prefix = ctx + "system/schedule";
    $(function() {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/edit/{id}",
            exportUrl: prefix + "/export",
            modalName: "任务",
            columns: [{
                checkbox: true
            },
                {
                    field: 'tid',
                    title: 'id'
                },
                {
                    field: 'title',
                    title: '标题'
                },
                {
                    field: 'experson',
                    title: '执行人',
                },
                {
                    field: 't_content',
                    title: '任务内容',
                    sortable: true
                },
                {
                    field: 'starttime',
                    title: '开始时间',
                    sortable: true
                },
                {
                    field: 'endtime',
                    title: '结束时间',
                    sortable: true
                },
                {
                    field: 'exstatus',
                    title: '状态',
                    align: 'center',
                },
                {
                    field: 'priority',
                    title: '紧急程度',
                },
                {
                    field: 'examine',
                    title: '审批状态',
                    formatter: function(value, row, index) {
                        return value==0?"未审批":value==1?"已审批":"退回";
                    }
                },
                {
                    field: 'reviewer',
                    title: '审批人',
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.exstatus!="已完成"){
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.tid + '\')"><i class="fa fa-edit"></i>更改进度</a> ');
                            return actions.join('');
                        }
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>