<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.hr.recr.mapper.RecrMapper">
<!--    private Integer rId;-->
<!--    private String title;-->
<!--    private Integer empNo;-->
<!--    private String approStatus;-->
<!--    private String content;-->
<!--    /** 创建时间 */-->
<!--    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")-->
<!--    private Date createTime;-->
<!--    private String applicant;-->
    <resultMap type="com.ruoyi.project.system.hr.recr.domain.Recr" id="RecrResult">
        <id     property="rId"       column="rid"      />
        <result property="title"       column="title"      />
        <result property="empNo"    column="emp_no"   />
        <result property="approStatus"     column="approstatus"    />
        <result property="content"        column="content"        />
        <result property="applicant"  column="applicant"  />
        <result property="creatTime"  column="creat_time"  />

    </resultMap>
    <sql id="recrSql">
        select r.rid,r.title,r.emp_no,r.content,r.approstatus,r.creat_time,e.e_name 'applicant'
        from t_recr r JOIN t_emp e on r.emp_no =e.emp_no
    </sql>
<select id="selectRecrList" resultMap="RecrResult" parameterType="com.ruoyi.project.system.hr.recr.domain.Recr" >
    <include refid="recrSql">
    </include>
    <where>
        <if test="title != null and title != ''">
            r.title like concat('%', #{title}, '%')
        </if>
        <if test="approStatus != null and approStatus != ''">
            AND r.approstatus = #{approStatus}
        </if>
        <if test="empNo != null and empNo != 0">
            AND r.empNo = #{empNo}
        </if>
        <if test="creatTime != null">
            AND r.creat_time >=#{creatTime}
        </if>
    </where>
    order by r.rid
</select>

    <insert id="addRecr" parameterType="com.ruoyi.project.system.hr.recr.domain.Recr">
        insert into t_recr(
                <if test="title != null and title != ''">title, </if>
                <if test="content != null and content != ''">content,</if>
                <if test="empNo != null and empNo != ''">emp_no, </if>
             <if test="approStatus != null and approStatus != ''">approstatus, </if>
                creat_time
                )values(
                <if test="title != null and title != ''">#{title},</if>
                <if test="content != null and content != ''">#{content},</if>
                 <if test="empNo != null and empNo != ''">#{empNo}, </if>
                 <if test="approStatus != null and approStatus != ''">#{approStatus}, </if>
                sysdate()
                )
    </insert>

    <select id="selectRecrById" resultMap="RecrResult" parameterType="integer">
        <include refid="recrSql">
        </include>
        <where>
            <if test="rid != null" >
                rid=#{rid}
            </if>
        </where>
    </select>

    <select id="selectRecrForApproStatus" resultType="java.lang.String">
        select  approstatus
        FROM t_recr
        <where>
            <if test="ids!=null">
                rid in
                <foreach collection="ids" item="rid" open="(" close=")" separator=",">
                    #{rid}
                </foreach>

            </if>
        </where>
    </select>

    <update id="editRecrById" parameterType="com.ruoyi.project.system.hr.recr.domain.Recr">
        update t_recr
                <set>
                    <if test="empNo != null and empNo != ''">emp_no = #{empNo},</if>
                    <if test="title != null and title != ''">title = #{title},</if>
                    <if test="approStatus != null and approStatus != ''">approstatus = #{approStatus},</if>
                    <if test="content != null and content != ''">content = #{content},</if>
                </set>
        <where>
        <if test="rId!=null">
                where rid = #{rId}
        </if>
        </where>
    </update>

    <delete id="removeRecrByIds">
        delete from t_recr
        <where>
            <if test="ids!=null">
                rid in
                <foreach collection="ids" item="rid" open="(" close=")" separator=",">
                    #{rid}
                </foreach>

            </if>
        </where>
    </delete>

    <!--    <update id="updateEmp" parameterType="com.ruoyi.project.system.hr.emp.domain.Emp" >-->
<!--        update t_emp-->
<!--        <set>-->
<!--            <if test="eId != null and eId != 0">e_id = #{eId},</if>-->
<!--            <if test="empNo != null and empNo != ''">emp_no = #{empNo},</if>-->
<!--            <if test="eName != null and eName != ''">e_name = #{eName},</if>-->
<!--            <if test="eSex != null and eSex != ''">e_sex = #{eSex},</if>-->
<!--            <if test="mgrNo != null and mgrNo != ''">mgr_no = #{mgrNo},</if>-->
<!--            <if test="post != null and post != ''">post = #{post},</if>-->
<!--            <if test="phone != null and phone != ''">phone = #{phone},</if>-->
<!--            <if test="deptNo != null and deptNo != ''">dept_no = #{deptNo},</if>-->
<!--            <if test="eStatus != null and eStatus != ''">e_status = #{eStatus},</if>-->
<!--        </set>-->
<!--        where e_id = #{eId}-->
<!--    </update>-->

<!--    <insert id="insertEmp" parameterType="Emp" >-->
<!--        insert into t_emp(-->
<!--        <if test="empNo != null and empNo != ''">emp_no, </if>-->
<!--        <if test="eName != null and eName != ''">e_name,</if>-->
<!--        <if test="eSex != null and eSex != ''">e_sex, </if>-->
<!--        <if test="mgrNo != null ">mgr_no, </if>-->
<!--        <if test="post != null and post != ''">post, </if>-->
<!--        <if test="phone != null and phone != ''">phone, </if>-->
<!--        <if test="deptNo != null and deptNo != ''">dept_no, </if>-->
<!--        <if test="eStatus != null and eStatus != ''">e_status </if>-->
<!--        )values(-->
<!--        <if test="empNo != null and empNo != ''">#{empNo}, </if>-->
<!--        <if test="eName != null and eName != ''">#{eName},</if>-->
<!--        <if test="eSex != null and eSex != ''">#{eSex},</if>-->
<!--        <if test="mgrNo != null  ">#{mgrNo},</if>-->
<!--        <if test="post != null and post != ''">#{post}, </if>-->
<!--        <if test="phone != null and phone != ''">#{phone}, </if>-->
<!--        <if test="deptNo != null and deptNo != ''">#{deptNo},</if>-->
<!--        <if test="eStatus != null and eStatus != ''"> #{eStatus}</if>-->
<!--        )-->

<!--    </insert>-->

<!--    <select id="selectMaxEmpNo" resultType="int">-->
<!--        select max(emp_no) from t_emp-->
<!--    </select>-->

<!--    <select id="selectMgr" resultMap="EmpVOResult" resultType="com.ruoyi.project.system.hr.emp.vo.EmpVO">-->
<!--    select  DISTINCT ee.e_name 'mgr',ee.emp_no-->
<!--        from t_emp e  join t_emp ee  on e.mgr_no = ee.emp_no-->
<!--    </select>-->

<!--    <select id="selectEmpListById" resultMap="EmpVOResult" resultType="com.ruoyi.project.system.hr.emp.vo.EmpVO">-->
<!--        <include refid="empVOSql">-->
<!--        </include>-->
<!--        <if test="eId != null and eId != 0">-->
<!--            where e.e_id = #{eId}-->
<!--        </if>-->
<!--    </select>-->

<!--    <select id="selectMgrById" resultMap="EmpVOResult" resultType="com.ruoyi.project.system.hr.emp.vo.EmpVO">-->
<!--         select  DISTINCT ee.e_name 'mgr',ee.emp_no-->
<!--        from t_emp e  join t_emp ee  on e.mgr_no = ee.emp_no-->
<!--        <if test="eId != null and eId != 0">-->
<!--            where e.e_id = #{eId}-->
<!--        </if>-->
<!--    </select>-->

<!--    <select id="selectByEmpNo"  parameterType="integer" resultType="integer" >-->
<!--        SELECT mgr_no FROM t_emp-->
<!--        <if test="empNo != null and empNo != 0">-->
<!--        where mgr_no=#{empNo}-->
<!--        </if>-->
<!--    </select>-->

<!--    <select id="selectPostList" resultMap="EmpResult">-->
<!--        select  DISTINCT post from t_emp-->
<!--    </select>-->

<!--    <delete id="removeEmpById" parameterType="string">-->
<!--        delete from t_emp-->
<!--        where e_id in-->
<!--        <foreach collection="array" item="eId" separator="," open="(" close=")">-->
<!--            #{eId}-->
<!--        </foreach>-->
<!--    </delete>-->

<!--    <select id="selectEmpByIds" resultMap="EmpResult" parameterType="string">-->
<!--        select * from t_emp-->
<!--         where e_id in-->
<!--         <foreach collection="array" item="eId" separator="," open="(" close=")">-->
<!--             #{eId}-->
<!--         </foreach>-->
<!--    </select>-->




</mapper>