<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.product.series.mapper.SeriesMapper">

	<resultMap type="ProSeries" id="SeriesResult">
		<id     property="ppsId"        column="ppsid"       />
		<result property="pName"      column="pname"     />
		<result property="pNote"      column="pnote"     />

	</resultMap>
	
	<sql id="selectSeriesVo">
        select ppsid,pname,pnote
		from t_product_one
    </sql>
	
	<select id="selectSeriesList" parameterType="com.ruoyi.project.product.series.domain.ProSeries" resultMap="SeriesResult">
	    <include refid="selectSeriesVo"/>
		<where>
			<if test="ppsId != null and ppsId != ''">
				AND ppsid like concat('%', #{ppsId}, '%')
			</if>
			<if test="pName != null and pName != ''">
				AND pname = #{pName}
			</if>
			<if test="pNote != null and pNote != ''">
				AND pnote like concat('%', #{pNote}, '%')
			</if>
		</where>
	</select>
	
	<select id="selectSeriesAll" resultMap="SeriesResult">
		<include refid="selectSeriesVo"/>
	</select>




	<select id="selectSeriesById"  resultMap="SeriesResult" parameterType="int">
		<include refid="selectSeriesVo"/>
		where ppsid = #{ppsId}
	</select>

	<delete id="deleteSeriesByIds" parameterType="Long">
 		delete from t_product_one where ppsid in
 		<foreach collection="array" item="ppsId" open="(" separator="," close=")">
 			#{ppsId}
        </foreach>
 	</delete>

	 	<insert id="insertSeries" parameterType="com.ruoyi.project.product.series.domain.ProSeries" useGeneratedKeys="true" keyProperty="ppsId">
	 		insert into  t_product_one
			<trim prefix="(" suffix=")" suffixOverrides=",">
	 			<if test="ppsId != null and ppsId != 0">ppsid,</if>
	 			<if test="pName != null and pName != ''">pname,</if>
	 			<if test="pNote != null and pNote != ''">pnote</if>
			</trim>
	 		values
			<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ppsId != null and ppsId != 0">default ,</if>
			<if test="pName != null and pName != ''">#{pName},</if>

			<if test="pNote != null and pNote != ''">#{pNote},</if>
			</trim>
		</insert>

		<select id="checkSeriesNameUnique" parameterType="String" resultMap="SeriesResult">
			<include refid="selectSeriesVo"/>
			 where pname=#{pName}
		</select>

	<update id="updateSeries">
		 		update t_product_one
		 		<set>
		 			<if test="pName != null and pName != ''">pname = #{pName},</if>
		 			<if test="pNote != null and pNote!= ''">pnote = #{pNote}</if>
		 		</set>
		 		where ppsid = #{ppsId}
			</update>







</mapper> 