<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('项目任务分配')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-post-edit" th:object="${approve}">
        <input id="pid" name="pid" type="hidden" th:field="*{pid}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目负责人：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="ename" id="ename" th:field="*{ename}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">项目名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="pname" id="pname" th:field="*{pname}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">审核：</label>
            <div class="col-sm-8">
                <select class="form-control" name="papprove">
                    <option>请审核</option>
                    <option value="1">通过</option>
                    <option value="2">未通过</option>
                    <option value="3">回退</option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "project/approve";

    // $("#form-post-edit").validate({
    //     onkeyup: false,
    //     rules:{
    //         ptask:{
    //             remote: {
    //                 url: ctx + "project/task/checktaskContentNameUnique",
    //                 type: "post",
    //                 dataType: "json",
    //                 data: {
    //                     "pid": function() {
    //                         return $("input[name='pid']").val();
    //                     },
    //                     "ptask" : function() {
    //                         return $.common.trim($("#taskcontent").val());
    //                     }
    //                 },
    //                 dataFilter: function(data, type) {
    //                     return $.validate.unique(data);
    //                 }
    //             }
    //         },
    //     },
    //     // messages: {
    //     //     "taskcontent": {
    //     //         remote: "该任务已有人在做！请选择其他任务"
    //     //     },
    //     // },
    //     focusCleanup: true
    // });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-post-edit').serialize());
        }
    }
</script>
</body>
</html>
